{% block head %}

    {% include "base/head.html" %}

{% endblock %}

<body>
    {% block navbar %}

        {% include "base/navbar.html" %}

    {% endblock %}

    {% block header %}

        {% include "base/header.html" %}

    {% endblock %}

    {% block container %}

        {% include "base/container.html" %}

    {% endblock %}

    {% block footer %}

        {% include "base/footer.html" %}

    {% endblock %}

    {% block scripts %}

        {% include "base/scripts.html" %}

    {% endblock %}
</html>
</body>
