{% load staticfiles %}

  <section class="content-section-a">

      <div class="container">
        <div class="row">
          <div class="col-lg-5 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Analiza tu instituci&oacute;n</h2>
            <p class="lead">
                Con esta herramienta podr&aacute;s analizar todos los componentes de tu instituci&oacute;n,
                as&iacute; mismo podr&aacute; evaluar el rendimiento de sus alumnos y definir la mejor
                estrategia para el aprendizaje de los mismos.
            </p>
          </div>
          <div class="col-lg-5 mr-auto">
            <img class="img-fluid" src="{% static 'img/bg-1.png' %}" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->
    </section>
